BOT_TOKEN=
MEDIATOR_CHAT_ID=
BOT_SECRET_SALT=
TP_EMAIL_RECIPIENT=<trusted-party-address>
BOT_EMAIL_ADDRESS=<bot-email>
BOT_EMAIL_PASSWORD=<password>
SMTP_HOST=<smtp host>
SMTP_PORT=465
IMAP_HOST=<imap host>
IMAP_PORT=993